<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>
      <hr>
    <h1>Wikis</h1>
        
      <ul class="list-group list-group-flush">

        <% wikis.forEach((wiki) => { %>

          <% if(locals.currentUser && locals.currentUser.isPrem() && wiki.private === true) { %> 
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> (Private)</a>
            <span class="align-right">Posted on: <%= wiki.updatedAt %></span>
          </li>
       
          <% } else if(wiki.private !== true) { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
              <span class="align-right"><%= wiki.updatedAt %></span>
            </li>
          <% } else { %> 
            <% wiki.collaborators.forEach((collaborator) => { %>
              <% if(locals.currentUser && collaborator.userId === locals.currentUser.id) { %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
                  <span class="align-right">Posted on: <%= wiki.updatedAt %></span>
                </li>
             <% } %>
          <% }) %>
          <% } %>
        <% }) %> 

      </ul>
      <% if(locals.currentUser) { %>
        <a href="/wikis/new" class="btn btn-success mt-3">New Wiki</a>
      <% } %>

    </main>
    <% include ../static/partials/footer.ejs %>  
  </body>
</html>