<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Wikis</h1>
        
      <ul class="list-group">

        <!-- <% wikis.forEach((wiki) => { %>
          <li class="list-group-item">
            <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
          </li>
        <% }) %> -->
        <% if (!locals.currentUser || !locals.currentUser.isPrem()) { %>
          <% wikis.forEach((wiki) => { %>
            <% if(wiki.private === null || wiki.private === false) { %>
            <li class="list-group-item">
              <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
            </li>
            <% } %> 
          <% }) %> 
        <% } else if (locals.currentUser.isPrem()) { %>
          <% wikis.forEach((wiki) => { %> 
            <li class="list-group-item">
              <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
            </li>
          <% }) %>
        <% } %>  


      </ul>
      <a href="/wikis/new" class="btn btn-success">New Wiki</a>
    </main>
  </body>
</html>