<% if(users) { %>
   <% users.forEach((user) => { %>
   <div style="width: 50%">
     <hr>
     
     <small class="card-subtitle mb-2 text-muted">
       <%= user.email %>
     </small>
     
     <% const collab = wiki.getCollaboratorsFor(user.id) %>
     <% wiki.collaborators.forEach((collaborator) => {  %>
      <% if(user.isCollab(user.id)) { %>
        
       <form style="display: initial;" action="/wikis/<%= wiki.id %>/collaborators/<%= collaborator.id %>/destroy" method="post">
        
         <button type="submit" class="btn btn-danger">Remove Collaborator</button>
       </form>
   
     <% } else { %>

       <form style="display: initial;" action="/wikis/<%= wiki.id %>/collaborators/create" method="post">
        <input type="hidden" value="<%= user.id %>" name="user">
        <input type="hidden" value="<%= wiki.id %>" name="wiki">
         <button type="submit" class="btn btn-primary">Add Collaborator</button>
       </form>
     <% } %>
     
     <hr>
   </div>
     <% }) %>
      <% }) %>
 <% } %>